data.json
last_update.txt
last_pads.json
indexdir/

.bash_profile
module/awesome-g0v/data.json
module/awesome-g0v/indexdir/

module/g0v-repo/indexdir/
module/g0v-repo/data.json

module/hackfoldr/hackfoldr.json

module/hackpad-backup/indexdir/
module/hackpad-backup/last_update.txt
module/hackpad-backup/last_pads.txt

__pycache__

web/__pycache__/
web/views/__pycache__/

